<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fivecalendar">

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_app_redondo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FiveCalendar">
        <activity
            android:name=".ClaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HorarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SemanaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TareaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewTareaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FiveCalendar.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>